.Footer_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    background-color: rgba(229, 207, 82, 0.8);
    padding: 30px;
}

.Footer_elements{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    line-height: 2;
    top:0;
}
.Footer_elements2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    margin-right: 25px;
    margin-left: 25px;
    line-height: 2;
    top:0;
}