.projects_container{
    display: block;
    width: 93.5%;
    margin: 10px auto;
    padding: 30px;
    background-color: rgba(249, 205, 116, 0.8);
    border-radius: 20px;
}
.projects_container.night{
    background-color: rgba(60, 6, 110, 0.8);
}
.Projects{
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    justify-content: center;
    gap:50px;
    width: 95%;
}
h2{
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 28px;
    font-style: normal;
}
.Project_img{
    width:300px;
    height: 300px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.project_images{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.project_links{
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    margin-top: 10px;
    padding: 5px;
}
.project_links:hover{
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7);
    border-radius: 10px;
}

@media screen and (min-width:100px) and (max-width:769px) {
    .Projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .Project_img{
        width: 200px;
        height: 200px;
        padding: 10px;
    }
    .project_images{
        width:200px;
        height: 150px;
    }
}