.skill_container {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: auto;
    background-color: rgba(172, 115, 74, 0.6);
    border-radius: 20px;
    margin-top: 10px;
  }
  .skill_container.night{
    background-color: rgba(61, 51, 111, 0.93);
  }
  
  .skills_title {
    display: block;
    width: 100%;
    align-items: center;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-size: 26px;
    font-style: normal;
  }
  
  .items {
    display: flex;
    width: 90%;
    margin: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-direction: row;
    padding: 20px;
  }
  
  .items_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  img {
    width: 115px;
    height: 115px;
    border-radius: 57px;
    border: 1px solid black;
  }
  img.night{
    border: 1px solid white;
  }
  
  .item_title {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 16px;
    font-style: normal;
  }
  
  .progress-bar {
    width: 70%;
    height: 4px;
    background-color: rgba(118, 71, 34, 1);
    position: relative;
    margin: 0 10px;
    border-radius: 2px;
    overflow: hidden;
  }
  .progress-bar.night{
    background-color: rgba(64, 28, 80, 0.93);
  }
  .progress {
    height: 100%;
    background-color: rgba(233, 127, 45, 1);
    border-radius: 2px;
  }
  .progress.night{
    background-color: rgba(229, 160, 216, 0.93);
  }

@keyframes progressFill {
  0% {
    width: 0%;
  }
}

.skill_2{
  display: block;
  width: 70%;
  color: black;
  padding: 40px;
  overflow: scroll;

}

.softskills{
  display: grid;
  grid-template-columns: auto auto;
}
.softskills-items{
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}
.ss-item1{
  text-align: center;
  width: 100px;
  align-self: center;
  justify-self:center;
  margin-right: 10px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
}
.ss-item2{
  align-items: center;
  width: 200px;
  height:200px;
}